<% if @new_friends && @new_friends.size > 0 %>
  <p>
    You are now following <strong><%= pluralize(@new_friends.size, 'new person') %></strong>:
  </p>
  <ul>
  <% @new_friends.each do |friend| %>
    <li><%= image_tag("http://img.tweetimag.es/i/#{friend.screen_name}_b", :alt => friend.name, :title => friend.name).html_safe %></li>
  <% end %>
  </ul>
<% end %>

<%= form_tag('/follows', :method => :post) do %>
  <%= label_tag 'list', 'Enter a Twitter list:'%>
  @<%= text_field_tag 'list', 'codeforamerica/team', :size => 20 %>
  <%= submit_tag 'Follow all members of this list!', :name => 'follow' %>
  <%= label_tag 'follow', 'Note: This may take a few seconds to process, especially if you have a lot of friends.' %>
<% end %>
<%= form_tag('/sessions/destroy', :method => :delete) do %>
  <%= submit_tag 'Sign out' %>
<% end %>
