<% if signed_in? %>
  <h3>
    Hi <%= link_to(@user.name, @user.url) %>!
  </h3>
  <p>
    You're currently following <strong><%= @user.friends_count %></strong> people!
  </p>
  <%= form_tag('/follows', :method => :post) do %>
    <%= label_tag 'list', 'Enter a Twitter list:'%>
    @<%= text_field_tag 'list', 'sferik/code-for-america', :size => 32 %>
    <%= submit_tag 'Follow all members of this list!' %>
  <% end %>
  <%= form_tag('/sessions/destroy', :method => :delete) do %>
    <%= submit_tag 'Sign out' %>
  <% end %>
<% else %>
  <%= form_tag('/sessions') do %>
    <%= image_submit_tag("sign-in-with-twitter.png") %>
  <% end %>
<% end %>
