<% if signed_in? %>
  <p>
    You currently follow <strong><%= pluralize(@user.friends_count, 'person') %></strong>. Here are some beautiful pictures of your recent friends:
  </p>
  <ul>
  <% @friends.each do |friend| %>
    <li><%= image_tag("http://img.tweetimag.es/i/#{friend.screen_name}_m", :alt => friend.name).html_safe %></li>
  <% end %>
  </ul>
  <%= form_tag('/follows', :method => :post) do %>
    <%= label_tag 'list', 'Enter a Twitter list:'%>
    @<%= text_field_tag 'list', 'codeforamerica/fellows-2011', :size => 28 %>
    <%= submit_tag 'Follow all members of this list!', :name => 'follow' %>
    <%= label_tag 'follow', 'Note: This may take a few seconds to process, especially if you have a lot of friends.' %>
  <% end %>
  <%= form_tag('/sessions/destroy', :method => :delete) do %>
    <%= submit_tag 'Sign out' %>
  <% end %>
<% else %>
  <p>
    Follow All is a simple Twitter app that allows you to enter the name of any 
    public list on Twitter and then, with a single press of a button, follow all
    the members of that list.
  </p>
  <p>
    To get started, you'll need to authenticate with Twitter by pressing the
    button below.
  </p>

  <%= form_tag('/sessions') do %>
    <%= image_submit_tag("sign-in-with-twitter.png") %>
  <% end %>
<% end %>
