- if @new_friends && @new_friends.size > 0
  %p
    You are now following
    %strong
      = pluralize @new_friends.size, 'new person'
  %ul
  - @new_friends.each do |friend|
    %li
      = image_tag("http://img.tweetimag.es/i/#{friend.screen_name}_b", :alt => friend.name)
= form_tag '/follows', :method => 'post' do
  = label_tag 'list', 'Enter a Twitter list: @'
  = text_field_tag 'list', 'codeforamerica/team', :size => 20
  = submit_tag 'Follow all members of this list!', :name => 'follow'
  = label_tag 'follow', 'Note: This may take a few seconds to process.'
= form_tag signout_path, :method => 'delete' do
  = submit_tag 'Sign out'
