<!DOCTYPE html>
<html>
  <head>
    <title>TwitterApp</title>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
    <% end %>

    <%= image_tag("code-for-america.png", :alt => "Code for America") %>

<%= yield %>

  </body>
</html>
